<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.scot.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableController</servlet-name>
        <servlet-class>com.scot.controller.TableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableInsertController</servlet-name>
        <servlet-class>com.scot.controller.TableInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableDeleteController</servlet-name>
        <servlet-class>com.scot.controller.TableDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableUpdateController</servlet-name>
        <servlet-class>com.scot.controller.TableUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.scot.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTableController</servlet-name>
        <servlet-class>com.scot.controller.UserTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTableInsertController</servlet-name>
        <servlet-class>com.scot.controller.UserTableInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTableDeleteController</servlet-name>
        <servlet-class>com.scot.controller.UserTableDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTableUpdateController</servlet-name>
        <servlet-class>com.scot.controller.UserTableUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimetableController</servlet-name>
        <servlet-class>com.scot.controller.TimetableController</servlet-class>
    </servlet>
   <servlet>
        <display-name>DWR Servlet</display-name>
        <servlet-name>dwr-invoker</servlet-name>  
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>UserTableController</servlet-name>
        <url-pattern>/UserTableController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableController</servlet-name>
        <url-pattern>/TableController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableInsertController</servlet-name>
        <url-pattern>/TableInsertController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableDeleteController</servlet-name>
        <url-pattern>/TableDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableUpdateController</servlet-name>
        <url-pattern>/TableUpdateController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTableInsertController</servlet-name>
        <url-pattern>/UserTableInsertController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTableDeleteController</servlet-name>
        <url-pattern>/UserTableDeleteController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTableUpdateController</servlet-name>
        <url-pattern>/UserTableUpdateController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimetableController</servlet-name>
        <url-pattern>/TimetableController/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            100
        </session-timeout>
    </session-config>
</web-app>
